<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<style>
    table, th, td {
  border:1px solid black;
}
</style>
<body>
    <h1><%= title %></h1>
<%- message %>
<%- table %>
</body>
</html>